* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
}

body {
  background: black;
  color: white;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 231, 75);
}
.topnav a {
    float: left;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: Arial, Helvetica, sans-serif;
}
.topnav a.active {
    background-color:goldenrod;
    color:black
}
.topnav a:hover {
    background-color: rgb(148, 112, 20);
    color:black;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
}

code {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    --combo-ctn-padding: 0.25rem;
    --combo-wrapper-padding: 0.25rem;
    --combo-keywords-ctn-height: 2rem;
    --main-column-max-width: 700px;
    --max-emoji-ctn-height: 75vh;
    --sensitive-entry-blur-display: flex;
    --use: 20px;
    --doNotUse: 0px;
    --fsAncillary: var(--doNotUse);
    font-family: 'Roboto', sans-serif;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    max-height: var(--max-emoji-ctn-height);
    overflow-y: auto;
    width: 100%;
    word-break: break-word;
    padding: var(--combo-wrapper-padding);
    min-height: 1.9rem;
    font-size: max(min(1rem, 1.7391304347826086vw, calc(1.7391304347826086*var(--main-column-max-width)/100)), 0.7rem);
    text-align: left;
    white-space: pre;
}